NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Supabase
SUPABASE_URL=your-supabase-project-url
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# TextBubbles
TEXTBUBBLES_API_KEY=
TEXTBUBBLES_PHONE_NUMBER=
TEXTBUBBLES_WEBHOOK_SECRET=

# Testing
TEST_ACCESS_TOKEN=
